<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Hemos recibido tu solicitud de una nueva contraseña</p>
        <p>Tu nueva contraseña es: {{password}}</p>
        <p></p>
        <p>Recuerda que puedes cambiarla desde el apartado de configuracion de la App</p>
        <p></p>
        <p>Saludos</p>
        <p>Equipo de Consent</p>
    </body>
</html>